
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background-image: url("images/space.jpg");
    background-position: center;
    background-size: cover;
}


/*need this to assign the animation to the svg circle*/
/*#neptune {*/
    /*animation: NeptuneOrbit 10s linear infinite;*/
    /*transform-origin: 50% 50%;*/
/*}*/


/*

Revolution of planets in earth days (from Wikipedia)
Mercury : 87.5 days
Venus : 224.7 days
Earth : 365.2563 days
Mars : 687 days (~1,8 year)
Jupiter : 331 days (~12 years)
Saturn : 747 days (~30 years)
Uranus : 589 days (~84 years)
Neptune : 802 days (~165 years)
Pluto : 580 days (~248 years)

divided by 24

*/

#sun {
    /*background-image: url("images/sun.png");*/
    background-size: cover;
    background-position: center;
}

#mercury {
    animation: MercuryOrbit 3.5s linear infinite;
    transform-origin: 50% 50%;
}

#venus {
    animation: VenusOrbit 10s linear infinite;
}

#earth {
    animation: EarthOrbit 15s linear infinite;
}

#mars {
    animation: MarsOrbit 25s linear infinite;
}

#jupiter {
    animation: JupiterOrbit 50s linear infinite;
}

#saturn {
    animation: SaturnOrbit 100s linear infinite;
}

#saturnRing {
    animation: SaturnOrbit 100s linear infinite;
}

#uranus {
    animation: UranusOrbit 400s linear infinite;
}

#neptune {
    animation: NeptuneOrbit 700s linear infinite;
}

#pluto {
    animation: PlutoOrbit 1100s linear infinite;
}

.stars {
    animation:  twinkle 4s infinite forwards ease-in;
    animation-direction: alternate;
}

/*you can edit the animation with this*/

@keyframes NeptuneOrbit {
    from { transform: rotate(0deg) translate(410px) rotate(0deg);}
    to { transform: rotate(360deg) translate(410px) rotate(-360deg);}
}

@keyframes MercuryOrbit {
    from { transform: rotate(0deg) translate(50px) rotate(0deg);}
    to { transform: rotate(360deg) translate(50px) rotate(-360deg);}
}

@keyframes VenusOrbit {
    from { transform: rotate(0deg) translate(75px) rotate(0deg);}
    to { transform: rotate(360deg) translate(75px) rotate(-360deg);}
}

@keyframes EarthOrbit {
    from { transform: rotate(0deg) translate(105px) rotate(0deg);}
    to { transform: rotate(360deg) translate(105px) rotate(-360deg);}
}

@keyframes MarsOrbit {
    from { transform: rotate(0deg) translate(130px) rotate(0deg);}
    to { transform: rotate(360deg) translate(130px) rotate(-360deg);}
}

@keyframes JupiterOrbit {
    from { transform: rotate(0deg) translate(210px) rotate(0deg);}
    to { transform: rotate(360deg) translate(210px) rotate(-360deg);}
}

@keyframes SaturnOrbit {
    from { transform: rotate(0deg) translate(280px) rotate(0deg);}
    to { transform: rotate(360deg) translate(280px) rotate(-360deg);}
}

@keyframes UranusOrbit {
    from { transform: rotate(0deg) translate(340px) rotate(0deg);}
    to { transform: rotate(360deg) translate(340px) rotate(-360deg);}
}

@keyframes NeptuneOrbit {
    from { transform: rotate(0deg) translate(410px) rotate(0deg);}
    to { transform: rotate(360deg) translate(410px) rotate(-360deg);}
}

@keyframes NeptuneOrbit {
    from { transform: rotate(0deg) translate(410px) rotate(0deg);}
    to { transform: rotate(360deg) translate(410px) rotate(-360deg);}
}

@keyframes PlutoOrbit {
    from { transform: rotate(0deg) translate(480px) rotate(0deg);}
    to { transform: rotate(360deg) translate(480px) rotate(-360deg);}
}

@keyframes twinkle {
    from {
        fill-opacity: 1;
    }
    to {
        fill-opacity: 0;
    }
}